<% flash.each do |key, value|%>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Enter the new evaluation</h1>



<%=form_for :evaluation, :url => {:controller => 'evaluations',:action => "create"} do |e|%>
	<%= label :title_label, 'Title:'%>
	<%= text_field_tag :title, session[:title]%>
	<%= simple_format " \n " %>
	<%= label :question_label,'Question:'%>
	<%= simple_format " \n " %>
	<% @questions.each do |question| %>
		<%= check_box_tag "questions[#{question.qid}]",question.content,(session[:content]!=nil&&session[:content].include?(question.qid)), :multiple=> true %>
	    <%= question.qid %>
	    <%= text_area_tag :question_content, question.content, :rows => 5, :cols => 60, :disabled => true %>
	    <% if question.c1!=nil&&question.c1!="" %>
	    	<%= select_tag(:c1_scale, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>
	    	<%= question.c1 %>
	    	<%= simple_format " \n " %>
	    <% end %>
	   	<% if question.c2!=nil&&question.c2!="" %>
	    	<%= select_tag(:c2_scale, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>
	    	<%= question.c2 %>
	    	<%= simple_format " \n " %>
	    <% end %>
	    <% if question.c3!=nil&&question.c3!="" %>
	    	<%= select_tag(:c3_scale, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>
	    	<%= question.c3 %>
	    	<%= simple_format " \n " %>
	    <% end %>
	    <% if question.c4!=nil&&question.c4!="" %>
	    	<%= select_tag(:c4_scale, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>
	    	<%= question.c4 %>
	    	<%= simple_format " \n " %>
	    <% end %>
	    <% if question.c5!=nil&&question.c5!="" %>
	    	<%= select_tag(:c5_scale, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>
	    	<%= question.c5 %>
	    	<%= simple_format " \n " %>
	    <% end %>
	    <%= simple_format " \n " %>
	<% end %>
	<%= label :random_label, 'How many random questions do you want?'%>
	<%= text_field_tag :size %>
	<%= submit_tag 'Random',:id=>"evaluations_random" %>
	<%= submit_tag 'Save Changes',:id=>"evaluations_submit" %>
<% end %>

<%#=form_for :random, :url => {:controller => 'evaluations',:action => "selectr"} do |f|%>
	<%#= label :random_label, 'Random questions:'%>
	<%#= text_field_tag :size %>
	<%#= submit_tag 'Random',:id=>"evaluations_submit" %>
<%# end %>

<%= tinymce %>

<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea',
    branding: false,
    menubar: false,
    toolbar: false,
    readonly: 1,
  });
</script>