<h1>Evaluations In database</h1>

<table id="t01">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Access Code</th>
            <th>Change Access Code</th>
        </tr>
    </thead>
  
    <tbody>
        <% @allevaluations.each do |evaluation| %>
          <tr>
            <td><%= evaluation.eid %></td>
            <td><%= evaluation.title %></td>
            <td><%= evaluation.content %></td>
            <td><%= evaluation.access_code %></td>
            <td><%= form_tag do %>
                <%= text_field_tag :access_code %><br>
                <%= submit_tag "Update", :name => "eid[#{evaluation.eid}]" %><br>
                <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>

<br>
<%= link_to 'Add new evaluation', new_evaluation_path, :class=>"btn btn-primary btn-lg" %>

<h1>Instructions:</h1>
<%= form_for @instructions, :url => {:action => "update_instructions"} do |f| %>
<%= text_area_tag :content, @instructions.content, :class => "tinymce", :rows => 10, :cols => 120 %>
   <% if flash[:notice] %>
        <div class="notice" style="color: red"><%= flash[:notice] %></div>
    <% end %>
<%= tinymce %>
<div class="form-group" style="margin: 20px 0px">
    <button class="btn btn-success btn-lg" style="float: right" type="submit">Update Instruction</button>
</div>
<% end %>

