<%= form_for @evaluation, :url => {:action => "view"} do |f| %>
    <h1>Evaluation <%= @evaluation.eid %>: <%= @evaluation.title %></h1>
    <%= hidden_field_tag :eid, @evaluation.eid %>
    <% counter=0 %>
    <% @questions.each_with_index do |question, index|%>
        <h2>Question
            <%= "#{index+1}: " %>
        </h2>
        <%= text_area_tag :question_content, question.content, :rows => 5, :cols => 120, :disabled => true %>
        <%= simple_format " \n " %>
        
        <h4> Answer Choice 1 <%= "(#{@evaluation.scales[counter]} points)"%>: </h4>
        <%= text_area_tag :choice1, question.c1%>
        <%= simple_format " \n " %>
        <% counter+=1 %>
        
        <h4> Answer Choice 2 <%= "(#{@evaluation.scales[counter]} points)"%>: </h4>
        <%= text_area_tag :choice2, question.c2 %>
        <%= simple_format " \n " %>
        <% counter+=1 %>
        
        <% if question.numAnswers == 3 %>
            <h4> Answer Choice 3 <%= "(#{@evaluation.scales[counter]} points)"%>: </h4>
            <%= text_area_tag :choice3, question.c3 %>
            <%= simple_format " \n " %>
            <% counter+=1 %>
        <% elsif question.numAnswers == 4 %>
            <h4> Answer Choice 3 <%= "(#{@evaluation.scales[counter]} points)"%>: </h4>
            <%= text_area_tag :choice3, question.c3 %>
            <%= simple_format " \n " %>
            <% counter+=1 %>
            <h4> Answer Choice 4 <%= "(#{@evaluation.scales[counter]} points)"%>: </h4>
            <%= text_area_tag :choice4,question.c4 %>
            <%= simple_format " \n " %>
            <% counter+=1 %>
        <% elsif question.numAnswers == 5 %>
            <h4> Answer Choice 3 <%= "(#{@evaluation.scales[counter]} points)"%>: </h4>
            <%= text_area_tag :choice3, question.c3 %>
            <%= simple_format " \n " %>
            <% counter+=1 %>
            <h4> Answer Choice 4 <%= "(#{@evaluation.scales[counter]} points)"%>: </h4>
            <%= text_area_tag :choice4,question.c4 %>
            <%= simple_format " \n " %>
            <% counter+=1 %>
            <h4> Answer Choice 5 <%= "(#{@evaluation.scales[counter]} points)"%>: </h4>
            <%= text_area_tag :choice5,question.c5 %>
            <%= simple_format " \n " %>
            <% counter+=1 %>
        <% end %>
        
        <h4>Correct Answer Choice:</h4>
        <% if question.getCorrectAnswerNum == 1 %>
            <%= text_area_tag :answer, question.c1 %>
        <% elsif question.getCorrectAnswerNum == 2 %>
            <%= text_area_tag :answer, question.c2 %>
        <% elsif question.getCorrectAnswerNum == 3 %>
            <%= text_area_tag :answer, question.c3 %>
        <% elsif question.getCorrectAnswerNum == 4%>
            <%= text_area_tag :answer, question.c4 %>
        <% elsif question.getCorrectAnswerNum == 5 %>
            <%= text_area_tag :answer, question.c5 %>            
        <% end %>
        <br>
    <% end %>
    

<% end %>

<%= tinymce %>
<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea',
    branding: false,
    menubar: false,
    toolbar: false,
    readonly: 1,
  });
</script>
