<% flash.each do |key, value|%>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Self-Evaluation Exam</h1>

<li><%= link_to 'Personal Evaluation',instructions_student_path %></li>

<%=form_for :questions_form, :url => {:controller => 'questions',:action => "view"} do |q|%>
    <p>Content &nbsp; &nbsp; &nbsp;</p>
    <% @questions.each do |question| %>
        <%= text_area_tag :question_content, question.content, :rows => 5, :cols => 120, :disabled => true %>
        <%= simple_format " \n " %>
        <%= radio_button_tag :choice, question.c1 %>
        <%= text_area_tag :c1_q, question.c1, :rows => 10, :cols => 120 %>
        <%= simple_format " \n " %>
        <%= radio_button_tag :choice, question.c2 %>
        <%= text_area_tag :c2_q, question.c2, :rows => 10, :cols => 120 %>
        <%= simple_format " \n " %>
        <%= radio_button_tag :choice, question.c3 %>
        <%= text_area_tag :c3_q, question.c3, :rows => 10, :cols => 120 %>
        <%= simple_format " \n " %>
        <%= radio_button_tag :choice,question.c4 %>
        <%= text_area_tag :c4_q, question.c4, :rows => 10, :cols => 120 %>
        <%= simple_format " \n " %>
        <%= radio_button_tag :choice, question.c5 %>
        <%= text_area_tag :c5_q, question.c5, :rows => 10, :cols => 120 %>
        <%= simple_format " \n " %>
    <% end %>
    <% if session[:page] == @evaluation.count-1 %>
        <%= submit_tag 'Submit',:id=>"questions_next"%>
    <% else %>
        <%= hidden_field_tag(:page, session[:page]+1) %>
        <%= submit_tag 'Next',:id=>"questions_next"%>
    <% end %>
<% end %>

<%= tinymce %>

<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea',
    branding: false,
    menubar: false,
    toolbar: false,
    readonly: 1,
  });
</script>