<h1>Self-Evaluation Exam</h1>
<% flash.each do |key, value|%>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%=form_for :questions_form, :url => {:controller => 'questions',:action => "view"} do |q|%>
    <p>Warning: Don't press the back arrow, your choices will be saved after you click "Next" and "Submit"! &nbsp; &nbsp; &nbsp;</p>
    <% @questions.each do |question| %>
        <% if question.difficulty == 'easy' %>
            <div class="alert alert-success">Easy</div>
        <% end %>
        <% if question.difficulty == 'medium' %>
            <div class="alert alert-warning fade in">Medium</div>
        <% end %>
        <% if question.difficulty == 'hard' %>
            <div class="alert alert-danger">Hard</div>
        <% end %>
        <%= question.content.html_safe %>

        <% if question.c1!=nil&&question.c1!="" %>
            <%= radio_button_tag :choice, "1" %>
            <div style="display: inline-block;">
                <%= question.c1.html_safe %>
            </div>
        <% end %>
        <% if question.c2!=nil&&question.c2!="" %>
            <div>
                <%= radio_button_tag :choice, "2" %>
                <div style="display: inline-block;">
                    <%= question.c2.html_safe %>
                </div>
            </div>
        <% end %>
        <% if question.c3!=nil&&question.c3!="" %>
            <div>
                <%= radio_button_tag :choice, "3" %>
                <div style="display: inline-block;">
                    <%= question.c3.html_safe %>
                </div>
            </div>
        <% end %>
        <% if question.c4!=nil&&question.c4!="" %>
            <div>
                <%= radio_button_tag :choice, "4" %>
                <div style="display: inline-block;">
                    <%= question.c4.html_safe %>
                </div>
                <%= simple_format " \n " %>
            </div>
            
        <% end %>
        <% if question.c5!=nil&&question.c5!="" %>
            <div>
                <%= radio_button_tag :choice, "5" %>
                <div style="display: inline-block;">
                    <%= question.c5.html_safe %>
                </div>
                <%= simple_format " \n " %>
            </div>
            
        <% end %>
        <%= hidden_field_tag(:qid, question.qid) %>
    <% end %>
    <% if @student.choices.count == @evaluation.count-1 %>
        <%= hidden_field_tag(:page, @student.choices.count+1) %>
        <div class="form-group">
            <%= submit_tag 'Submit',:id=>"questions_next", :class => "btn btn-primary"%>
        </div>
    <% else %>
        <%= hidden_field_tag(:page, @student.choices.count+1) %>
        <div class="form-group">
            <%= submit_tag 'Next',:id=>"questions_next", :class => "btn btn-primary"%>
        </div>
    <% end %>
<% end %>

<%= tinymce %>

<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea',
    branding: false,
    menubar: false,
    toolbar: false,
    readonly: 1,
    forced_root_block: false
    
  });
</script>