<h1>Self-Evaluation Exam</h1>
<% flash.each do |key, value|%>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%=form_for :questions_form, :url => {:controller => 'questions',:action => "view"} do |q|%>
    <p>Warning: Don't press the back arrow, your choices will be saved after you click "Next" and "Submit"! &nbsp; &nbsp; &nbsp;</p>
    <% @questions.each do |question| %>
        <%= text_area_tag :question_content, question.content, :rows => 5, :cols => 120, :disabled => true %>
        <%= simple_format " \n " %>
        <% if question.c1!=nil&&question.c1!="" %>
            <%= radio_button_tag :choice, "1" %>
            <%= text_area_tag :c1_q, question.c1, :rows => 5, :cols => 120 %>
            <%= simple_format " \n " %>
        <% end %>
        <% if question.c2!=nil&&question.c2!="" %>
            <%= radio_button_tag :choice, "2" %>
            <%= text_area_tag :c2_q, question.c2, :rows => 5, :cols => 120 %>
            <%= simple_format " \n " %>
        <% end %>
        <% if question.c3!=nil&&question.c3!="" %>
            <%= radio_button_tag :choice, "3" %>
            <%= text_area_tag :c3_q, question.c3, :rows => 5, :cols => 120 %>
            <%= simple_format " \n " %>
        <% end %>
        <% if question.c4!=nil&&question.c4!="" %>
            <%= radio_button_tag :choice, "4" %>
            <%= text_area_tag :c4_q, question.c4, :rows => 5, :cols => 120 %>
            <%= simple_format " \n " %>
        <% end %>
        <% if question.c5!=nil&&question.c5!="" %>
            <%= radio_button_tag :choice, "5" %>
            <%= text_area_tag :c5_q, question.c5, :rows => 5, :cols => 120 %>
            <%= simple_format " \n " %>
        <% end %>
        <%= hidden_field_tag(:qid, question.qid) %>
    <% end %>
    <% if @student.choices.count == @evaluation.count-1 %>
        <%= hidden_field_tag(:page, @student.choices.count+1) %>
        <div class="form-group">
            <%= submit_tag 'Submit',:id=>"questions_next", :class => "btn btn-primary"%>
        </div>
    <% else %>
        <%= hidden_field_tag(:page, @student.choices.count+1) %>
        <div class="form-group">
            <%= submit_tag 'Next',:id=>"questions_next", :class => "btn btn-primary"%>
        </div>
    <% end %>
<% end %>

<%= tinymce %>

<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea',
    branding: false,
    menubar: false,
    toolbar: false,
    readonly: 1,
  });
</script>