<h1>All students</h1>

<table id="t01", class="table table-hover">
    <thead>
        <tr>
            <th>UIN </th>
            <th>Student Name </th>
            <th>Section </th>
            <th>Attempts </th>
            <th>Score </th>
        </tr>
    </thead>
  
    <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.uin %></td>
            <td><%= student.name %></td>
            <td><%= student.section %></td>
            <td><%= student.attempts %></td>
            <td><%= student.score %></td>
          </tr>
        <% end %>
    </tbody>
</table>
<%=link_to 'Export to CSV', students_path(format: 'csv')%>