<% flash.each do |key, value|%>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Student Register</h1>
<p>
    <div>Find me in app/views/students/register.html.erb</div>
    
    <%= form_for @student do |f| %>
      <%= f.label :uin, 'UIN' %><%= f.number_field :uin %><br>
      <%= f.label :name, 'Name' %><%= f.text_field :name %><br>
      <%= f.label :section, 'Section' %><%= f.select "section", options_from_collection_for_select(@sections, "section_number", "section_number")  %><br>
      <%= f.submit %>
    <% end %>
    
    
    <%# if flash[:warning] %>
        <!--<div class="notice" style="color: red"><%= flash[:warning] %></div>-->
    <% #end %>
    
    <%= link_to "Home Page", controller: "welcome", action: "show" %>
</p>
