<h1>Student Login</h1>
<p>
 <%= form_tag do%>
  <%= "UIN: "%><%= number_field_tag :uin %><br>
  <%= submit_tag "Login" %><br>
 <% end %>
 
 <% if flash[:notice] %>
  <div class="notice" style="color: red"><%= flash[:notice] %></div>
 <% end %>
 
 <%= link_to "Register", controller: "students", action: "register" %>
 <%= link_to "HomePage", controller: "welcome", action: "show" %>
</p>