<h1>All students</h1>

<h4> Overall Average: <%=@average%></h4>

<table id="t01", class="table table-hover">
    <thead>
        <tr>
            <th>UIN </th>
            <th>Student Name </th>
            <th>Section </th>
            <th>Attempts </th>
            <th>Score </th>
            <th>Change Section</th>
        </tr>
    </thead>
  
    <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.uin %></td>
            <td><%= student.name %></td>
            <td><%= student.section %></td>
            <td><%= student.attempts %></td>
            <td><%= student.score %></td>
            <td><%= form_tag do %>
                <%= select_tag 'section', options_for_select(@list_of_sections, @selected_section) %>
                <%= submit_tag "Update", :name => "uin[#{student.uin}]" %>
                <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>
<div class="col-xs-12">
   <a href="/admin/export" class="btn btn-primary btn-lg" role="button">Export Manager</a>
    <%#= link_to "Export data", controller: "admin", action: "export" %>
</div>
<div class="col-lg-5">
    <h1>Access Code</h1>
    <p>
        <label>Current Access Code: <%= @access_code.code %></label>
        <%= form_tag do%>
          <div class="form-group">
              <label>Change Access Code To:</label>
              <div>
                  <%= text_field_tag :access_code, nil, class: "form-control" %>
              </div>
          </div>
          <%= submit_tag "Change", :class=>"btn btn-primary btn-sm" %><br>
        <% end %>
    </p>
</div>
<div class="col-lg-1"></div>
<div class="col-lg-6">
    <table id="sections">
    <thead>
        <tr>
            <th><h1>Section</h1></th>
        </tr>
    </thead>
    <tbody>
        <% @sections.each do |section| %>
          <tr>
            <td><label><%= section.section_number %></label></td>
            <td><%= button_to("Delete", action: "delete", value: section.section_number) %></td>
          </tr>
        <% end %>
    </tbody>
</table>
<%= form_tag do%>
    <label>Section Number:</label><%= number_field_tag :section_number, nil, class: "form-control" %><br>
    <%= submit_tag "Add", class: "btn btn-primary" %><br>
<% end %>
</div>


<div class="form-group col-xs-12" style="margin: 20px 0px">
    <a href="/admin/questions/show" class="btn btn-primary btn-lg" role="button">Questions Manager</a>
    <a href="/admin/evaluations" class="btn btn-primary btn-lg" role="button">Evaluations Manager</a>
</div>

<div class="col-xs-12">
<%= form_tag do%>
    <div>Please type the following text in the text box to confirm deletion:</div>
    <div>I want to delete all students in the database, and I understand that once deleted, they are not recoverable.</div>
    <label>Disclaimer: </label><%= text_field_tag :disclaimer, nil, class: "form-control" %><br>
    <%= submit_tag "Reset Database" %><br>
<% end %>
</div>

<% if flash[:notice] %>
  <div class="notice" style="color: red"><%= flash[:notice] %></div>
<% end %>