<h1>All students</h1>

<h4> Overall Average: <%=@average%></h4>

<table id="t01">
    <thead>
        <tr>
            <th>UIN</th>
            <th>Student Name</th>
            <th>Section</th>
            <th>Attempts</th>
            <th>Score</th>
        </tr>
    </thead>
  
    <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.uin %></td>
            <td><%= student.name %></td>
            <td><%= student.section %></td>
            <td><%= student.attempts %></td>
            <td><%= student.score %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<h1>Access Code</h1>

<p>
    <div>Current Access Code: <%= @access_code.code %></div>
    <%= form_tag do%>
      <%= "Change Access Code To: "%><%= text_field_tag :access_code %><br>
      <%= submit_tag "Change", :class=>"btn btn-primary btn-sm" %><br>
    <% end %>
</p>
<br>
<div class="form-group" style="margin: 20px 0px">
    <a href="/admin/questions/show" class="btn btn-primary btn-lg" role="button">Questions Manager</a>
    <a href="/admin/evaluations" class="btn btn-primary btn-lg" role="button">Evaluations Manager</a>
</div>