<h1>All students</h1>
<table id="t01">
    <thead>
        <tr>
            <th>UIN &nbsp; &nbsp; &nbsp;</th>
            <th>Student Name &nbsp; &nbsp; &nbsp;</th>
            <th>Section &nbsp; &nbsp; &nbsp;</th>
            <th>Attempts &nbsp; &nbsp; &nbsp;</th>
            <th>Score &nbsp; &nbsp; &nbsp;</th>
        </tr>
    </thead>
  
    <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.uin %></td>
            <td><%= student.name %></td>
            <td><%= student.section %></td>
            <td><%= student.attempts %></td>
            <td><%= student.score %></td>
          </tr>
        <% end %>
    </tbody>
     <thead>
        <tr>
            <th>Average &nbsp; &nbsp; &nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%=@average%>
        </tr>
    </tbody>
</table>

<h1>Control Panel</h1>
<p>
    <div>Current Access Code: <%= @access_code.code %></div>
    <%= form_tag do%>
      <%= "Change Access Code To: "%><%= text_field_tag :access_code %><br>
      <%= submit_tag "Change" %><br>
    <% end %>
</p>