<h1>Admin::Questions#new</h1>
<p>Find me in app/views/admin/questions/new.html.erb</p>

<h1>Question Details:</h1>
<%= text_area_tag :content, "<p>Enter your question here...</p>", :class => "tinymce", :rows => 15, :cols => 120 %>

<h2>Answer Choice 1:</h2>
<%= text_area_tag :content, "<p>Enter your answer choice here...</p>", :class => "tinymce", :rows => 10, :cols => 120 %>

<h2>Answer Choice 2:</h2>
<%= text_area_tag :content, "<p>Enter your answer choice here...</p>", :class => "tinymce", :rows => 10, :cols => 120 %>

<h2>Answer Choice 3:</h2>
<%= text_area_tag :content, "<p>Enter your answer choice here...</p>", :class => "tinymce", :rows => 10, :cols => 120 %>

<h2>Answer Choice 4:</h2>
<%= text_area_tag :content, "<p>Enter your answer choice here...</p>", :class => "tinymce", :rows => 10, :cols => 120 %>

<%= tinymce %>
<!--<form><button name="submitbtn" value="Save"></button></form>-->