<h1>Admin::Questions Manager</h1>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<table id="t01">
    <tr>
        <th>ID</th>
        <th>Details</th>
        <th>Answer</th>
        <th>Choice 1</th>
        <th>Choice 2</th>
        <th>Choice 3</th>
        <th>Choice 4</th>
        <th>Delete</th>
        <th>Copy</th>
    </tr>
    <% @all_questions.each do |question| %>
        <tr>
            <td><%= link_to question.qid, "/admin/questions/edit/#{question.qid}" %></td>
            <td><%= question.content %></td>
            <td><%= question.answer %></td>
            <td><%= question.c1 %></td>
            <td><%= question.c2 %></td>
            <td><%= question.c3 %></td>
            <td><%= question.c4 %></td>
            <td><%= link_to 'Remove', "/admin/questions/delete/#{question.qid}", :method => :delete %></td>
            <td><%= link_to 'Copy', "/admin/questions/copy/#{question.qid}", :method => :put %></td>
        </tr>
    <% end %>
</table>

<div class="form-group" style="margin: 20px 0px">
    <a href="/admin/questions/new" class="btn btn-primary btn-lg" role="button">Add Question</a>
</div>