<h1>Admin::Questions Manager</h1>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<table id="t01">
    <tr>
        <th>ID</th>
        <th>Details</th>
        <th>Answer</th>
        <th>Choice 1</th>
        <th>Choice 2</th>
        <th>Choice 3</th>
        <th>Choice 4</th>
        <th>Delete</th>
    </tr>
    <% @all_questions.each do |question| %>
        <tr>
            <td><%= link_to question.qid, "/admin/questions/edit/#{question.qid}" %></td>
            <td><%= question.content %></td>
            <td><%= question.answer %></td>
            <td><%= question.c1 %></td>
            <td><%= question.c2 %></td>
            <td><%= question.c3 %></td>
            <td><%= question.c4 %></td>
            <td><%= link_to 'Remove', "/admin/questions/delete/#{question.qid}", :method => :delete %></td>
        </tr>
    <% end %>
</table>

<hr>
<%= form_for @num_answers, :url => {:controller => "/admin/questions/new", :action => "show"} do |f| %>
    <div class="form-group">
        <h4>Create a new question</h4>
        <label>Number of answer choices:</label>
        <%= select_tag(:answer, options_for_select([2,3,4,5]))%>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" role="button">Add Question</button>
    </div>
<% end %>